ColorApp.xcodeproj/project.xcworkspace/xcuserdata/ryoiida.xcuserdatad/UserInterfaceState.xcuserstate
ColorApp.xcodeproj/project.xcworkspace/xcuserdata/ryoiida.xcuserdatad/UserInterfaceState.xcuserstate
